/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }

html,
body {
  font-size: 16px;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  position: relative;
  font-weight: 300;
  color: #292929;
  line-height: 1.7;
  letter-spacing: 0.8px;
  background-color: #ffffff;
  overscroll-behavior: contain;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0; }

.wrapper {
  min-height: 100vh; }

.auth-page {
  min-height: 100vh;
  background-color: #ffffff; }

input {
  font-family: Roboto, sans-serif; }

textarea {
  font-family: Roboto, sans-serif; }

image {
  max-width: 100%;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #161616; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button {
  cursor: pointer;
  border: none; }

.d-flex {
  display: flex; }

.justify-content-center {
  justify-content: center; }

.justify-content-end {
  justify-content: flex-end; }

.btn {
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
  border-radius: 5px;
  text-align: center;
  font-size: 17px; }
  .btn:disabled {
    cursor: not-allowed; }
  .btn.btn-primary {
    background-color: #0d6efd;
    color: #ffffff; }
    .btn.btn-primary:disabled {
      background-color: #c3e6cb;
      color: #ffffff; }
    .btn.btn-primary:hover {
      opacity: 0.7; }
  .btn.btn-secondary {
    background-color: #7c8595;
    color: #ffffff; }
    .btn.btn-secondary:disabled {
      background-color: #6c757d;
      color: #ffffff; }
  .btn.btn-blue {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff; }
    .btn.btn-blue:disabled {
      background-color: #496e96;
      color: #ffffff; }
  .btn.btn-danger {
    background-color: #e52f37;
    border-color: #e52f37;
    color: #ffffff; }
    .btn.btn-danger:disabled {
      background-color: #f0949c;
      color: #ffffff; }
  .btn.btn-outline-primary {
    background-color: transparent;
    border: 1px solid #0d6efd;
    color: #0d6efd; }
    .btn.btn-outline-primary:hover {
      background-color: #0d6efd;
      color: #ffffff; }
  .btn.btn-outline-secondary {
    background-color: transparent;
    border: 1px solid #7c8595;
    color: #7c8595; }
    .btn.btn-outline-secondary:hover {
      background-color: #7c8595;
      color: #ffffff; }
  .btn.btn-outline-danger {
    background-color: transparent;
    border: 1px solid #e52f37;
    color: #e52f37; }
    .btn.btn-outline-danger:hover {
      background-color: #e52f37;
      color: #ffffff; }
  .btn.btn-outline-blue {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff; }
    .btn.btn-outline-blue:hover {
      background-color: #007bff;
      color: #ffffff; }
  .btn.btn-icon {
    width: 36px;
    width: 2.25rem;
    height: 36px;
    height: 2.25rem;
    padding: 10px;
    padding: 0.625rem;
    border-radius: 100%; }
  .btn.btn-block {
    width: 100%;
    font-size: 16px; }
  .btn.btn-close {
    background-color: transparent;
    border: 0; }

.home-section {
  background-color: #f5f7fc;
  padding: 30px 0px 50px 0px;
  padding: 1.875rem 0rem 3.125rem 0rem; }
  .home-section .home-section-title {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 42px;
    line-height: 1.2; }
  .home-section .home-section-content {
    margin-bottom: 35px;
    margin-bottom: 2.1875rem;
    font-size: 17px;
    color: #7c8595; }
  .home-section .newsletter-form {
    border-radius: 5px; }
    .home-section .newsletter-form .email {
      padding: 0px 20px 0px 45px;
      padding: 0rem 1.25rem 0rem 2.8125rem;
      height: 59px;
      height: 3.6875rem;
      width: 350px;
      width: 21.875rem;
      border: none;
      font-size: 17px;
      background: url(../../images/email.png) no-repeat 15px 20px;
      background-color: white; }
    .home-section .newsletter-form .btn-submit {
      height: 59px;
      height: 3.6875rem;
      border: none;
      border-radius: 0 5px 5px 0;
      font-weight: 700;
      color: #ffffff;
      background: #e52f37; }
  .home-section .newsletter-form-terms {
    margin: 15px 0px 5px 0px;
    margin: 0.9375rem 0rem 0.3125rem 0rem;
    font-size: 14px;
    color: #878787; }

.section-service {
  padding: 90px 0px;
  padding: 5.625rem 0rem; }
  .section-service .section-service-title {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 36px;
    color: #071e55; }
  .section-service .service-item {
    margin-top: 40px;
    margin-top: 2.5rem;
    padding: 25px 30px;
    padding: 1.5625rem 1.875rem;
    box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
    border-radius: 8px;
    text-align: center; }
    .section-service .service-item:hover {
      margin-top: 25px;
      margin-top: 1.5625rem;
      transition: all 1s; }
    .section-service .service-item .service-item-icon {
      font-size: 46px; }
    .section-service .service-item .service-item-title {
      margin-bottom: 20px;
      margin-bottom: 1.25rem;
      font-size: 20px; }
    .section-service .service-item .service-item-content {
      margin-bottom: 20px;
      margin-bottom: 1.25rem;
      padding: 0px 10px;
      padding: 0rem 0.625rem;
      font-size: 17px;
      color: #7c8595; }

.section-partner {
  padding: 30px 0px 90px 0px;
  padding: 1.875rem 0rem 5.625rem 0rem;
  background-color: #f5f7fc; }
  .section-partner .section-partner-title {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 28px;
    color: #071e55; }
  .section-partner .partners-list {
    justify-content: center; }
    .section-partner .partners-list .partner-item {
      margin: 20px 10px 10px 0px;
      margin: 1.25rem 0.625rem 0.625rem 0rem;
      padding: 29px 10px;
      padding: 1.8125rem 0.625rem;
      box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
      border-radius: 8px;
      background: #ffffff; }
      .section-partner .partners-list .partner-item:hover {
        margin-top: 10px;
        margin-top: 0.625rem;
        transition: all 1s; }
      .section-partner .partners-list .partner-item .partner-item-img {
        width: 100%;
        vertical-align: middle; }

.section-discover {
  padding: 90px 0px;
  padding: 5.625rem 0rem;
  background-color: #ffffff; }
  .section-discover .section-discover-title {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 28px;
    line-height: 1.2;
    color: #071e55; }
  .section-discover .section-discover-content {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    color: #7c8595; }
  .section-discover .benefits {
    margin-bottom: 25px;
    margin-bottom: 1.5625rem; }
    .section-discover .benefits .benefit-item {
      margin-bottom: 4px;
      margin-bottom: 0.25rem;
      font-size: 17px;
      color: #7c8595; }
      .section-discover .benefits .benefit-item i {
        padding: 5px;
        padding: 0.3125rem;
        margin-right: 1px;
        margin-right: 0.0625rem;
        vertical-align: middle;
        font-size: 26px;
        line-height: 1; }

.section-facts {
  padding: 90px 0px;
  padding: 5.625rem 0rem;
  background-color: #f5f7fc; }
  .section-facts .section-facts-title {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 36px;
    color: #071e55; }
  .section-facts .facts-list {
    justify-content: center; }
    .section-facts .facts-list .fact-item {
      border-radius: 8px;
      text-align: center; }
      .section-facts .facts-list .fact-item .fact-item-icon {
        font-size: 46px; }
      .section-facts .facts-list .fact-item .fact-item-title {
        font-size: 20px; }
      .section-facts .facts-list .fact-item .fact-item-content {
        margin-bottom: 20px;
        margin-bottom: 1.25rem;
        padding: 0px 10px;
        padding: 0rem 0.625rem;
        font-size: 16px;
        color: #7c8595; }

.section-team {
  padding: 90px 0px;
  padding: 5.625rem 0rem;
  background-color: #ffffff; }
  .section-team .section-team-title {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 28px;
    color: #071e55; }
  .section-team .team-list {
    justify-content: center; }
    .section-team .team-list .team-item {
      margin-top: 30px;
      margin-top: 1.875rem;
      text-align: center; }
      .section-team .team-list .team-item .team-img {
        width: 100%;
        border-radius: 8px 8px; }
      .section-team .team-list .team-item .team-info {
        padding: 30px 25px 40px 25px;
        padding: 1.875rem 1.5625rem 2.5rem 1.5625rem; }
        .section-team .team-list .team-item .team-info .team-name {
          color: #071e55; }
        .section-team .team-list .team-item .team-info .team-position {
          margin-bottom: 20px;
          margin-bottom: 1.25rem;
          font-size: 17px;
          font-style: italic;
          line-height: 1.5;
          font-weight: 400;
          color: #acacac; }
        .section-team .team-list .team-item .team-info .team-description {
          margin-bottom: 20px;
          margin-bottom: 1.25rem;
          font-size: 17px;
          line-height: 1.5;
          font-weight: 400;
          color: #7c8595; }
        .section-team .team-list .team-item .team-info .contacts-list {
          justify-content: center; }
          .section-team .team-list .team-item .team-info .contacts-list .contact-item {
            width: 36px;
            width: 2.25rem;
            height: 36px;
            height: 2.25rem;
            padding: 8px 8px;
            padding: 0.5rem 0.5rem;
            margin: 0px 3px;
            margin: 0rem 0.1875rem;
            border-radius: 50%;
            color: #ffffff; }
            .section-team .team-list .team-item .team-info .contacts-list .contact-item.twitter {
              background: #4099ff; }
            .section-team .team-list .team-item .team-info .contacts-list .contact-item.facebook {
              background: #3b5998; }
            .section-team .team-list .team-item .team-info .contacts-list .contact-item.instagram {
              background: #C92228; }
            .section-team .team-list .team-item .team-info .contacts-list .contact-item.dribble {
              background: #ea4c89; }

.section-testimonial {
  padding-top: 90px;
  padding-top: 5.625rem; }
  .section-testimonial .testimonial-content {
    margin-bottom: 25px;
    margin-bottom: 1.5625rem;
    font-size: 26px;
    line-height: 1.5;
    font-weight: 300;
    font-style: italic;
    color: #7c8595; }
  .section-testimonial .testimonial-author {
    font-size: 18px;
    color: #071e55; }
  .section-testimonial .testimonial-position {
    font-size: 17px;
    color: #0d6efd; }
  .section-testimonial .testimonial-img {
    width: 100%;
    vertical-align: middle; }

.section-footer {
  height: 175px;
  height: 10.9375rem;
  padding: 30px 0px 15px;
  padding: 1.875rem 0rem 0.9375rem;
  margin-top: 10px;
  margin-top: 0.625rem;
  line-height: 24px;
  line-height: 1.5rem;
  border-top: 1px solid #d3d3d3;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54); }
  .section-footer .logo .logo-link img {
    width: 100%; }
  .section-footer .subcribe-form {
    max-width: 80%;
    margin: 0 auto; }
    .section-footer .subcribe-form .subcribe-title {
      margin-bottom: 5px;
      margin-bottom: 0.3125rem; }
    .section-footer .subcribe-form .input-subcribe input {
      width: calc(100% - 112px);
      padding: 0 15px;
      border: 1px solid #e8e8e8;
      color: #292929;
      height: 38px;
      font-size: 13px; }
      .section-footer .subcribe-form .input-subcribe input:focus {
        outline: none; }
    .section-footer .subcribe-form .input-subcribe .btn-subcribe {
      background: #0d6efd;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      padding: 12px 20px; }
  .section-footer hr {
    border-top-color: #e4e4e4;
    opacity: 0.5; }
  .section-footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section-footer .footer-bottom .copyright-text {
      font-size: 11px; }
    .section-footer .footer-bottom .social-icons {
      margin-bottom: 0;
      padding-left: 0;
      text-align: right;
      list-style: none; }
      .section-footer .footer-bottom .social-icons li {
        margin-bottom: 4px;
        margin-bottom: 0.25rem;
        display: inline-block; }
        .section-footer .footer-bottom .social-icons li a {
          float: left;
          margin-left: 8px;
          width: 31px;
          border: 1px solid #e4e4e4;
          border-radius: 50%;
          font-size: 13px;
          color: #aaa;
          text-align: center;
          line-height: 28px; }
          .section-footer .footer-bottom .social-icons li a:hover {
            color: #ffffff; }
          .section-footer .footer-bottom .social-icons li a.facebook:hover {
            background-color: #3b5998; }
          .section-footer .footer-bottom .social-icons li a.twitter:hover {
            background-color: #4099ff; }

.page-container {
  padding: 100px 0px 300px;
  padding: 6.25rem 0rem 18.75rem;
  min-height: calc(100% - (65px + 190px)); }

.container {
  max-width: 1172px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto; }

.grid-box {
  border: 1px solid #d3d3d3;
  background: #fff;
  border-radius: 6px; }

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 -12px; }

.row-ck {
  padding-bottom: 40px;
  padding-bottom: 2.5rem; }

.col {
  padding-left: 12px;
  padding-right: 12px; }

.col-1 {
  width: calc(100% *1/ 12); }

.col-2 {
  width: calc(100% *2/ 12); }

.col-3 {
  width: calc(100% *3/ 12); }

.col-4 {
  width: calc(100% *4/ 12); }

.col-5 {
  width: calc(100% *5/ 12); }

.col-6 {
  width: calc(100% *6/ 12); }

.col-7 {
  width: calc(100% *7/ 12); }

.col-8 {
  width: calc(100% *8/ 12); }

.col-9 {
  width: calc(100% *9/ 12); }

.col-10 {
  width: calc(100% *10/ 12); }

.col-11 {
  width: calc(100% *11/ 12); }

.col-12 {
  width: calc(100% *12/ 12); }

@media (max-width: 375px) {
  .container {
    max-width: 327px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 auto; }
    .container.header-content {
      left: 0; }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px; }

  .col {
    padding-left: 4px;
    padding-right: 4px; }

  .col-sm-1 {
    width: calc(100% *1/ 12); }

  .col-sm-2 {
    width: calc(100% *2/ 12); }

  .col-sm-3 {
    width: calc(100% *3/ 12); }

  .col-sm-4 {
    width: calc(100% *4/ 12); }

  .col-sm-5 {
    width: calc(100% *5/ 12); }

  .col-sm-6 {
    width: calc(100% *6/ 12); }

  .col-sm-7 {
    width: calc(100% *7/ 12); }

  .col-sm-8 {
    width: calc(100% *8/ 12); }

  .col-sm-9 {
    width: calc(100% *9/ 12); }

  .col-sm-10 {
    width: calc(100% *10/ 12); }

  .col-sm-11 {
    width: calc(100% *11/ 12); }

  .col-sm-12 {
    width: calc(100% *12/ 12); } }
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 630px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto; }
    .container.header-content {
      left: 0; }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px; }

  .col {
    padding: 0 12px; }

  .col-md-1 {
    width: calc(100% *1/ 12); }

  .col-md-2 {
    width: calc(100% *2/ 12); }

  .col-md-3 {
    width: calc(100% *3/ 12); }

  .col-md-4 {
    width: calc(100% *4/ 12); }

  .col-md-5 {
    width: calc(100% *5/ 12); }

  .col-md-6 {
    width: calc(100% *6/ 12); }

  .col-md-7 {
    width: calc(100% *7/ 12); }

  .col-md-8 {
    width: calc(100% *8/ 12); }

  .col-md-9 {
    width: calc(100% *9/ 12); }

  .col-md-10 {
    width: calc(100% *10/ 12); }

  .col-md-11 {
    width: calc(100% *11/ 12); }

  .col-md-12 {
    width: calc(100% *12/ 12); } }
.header .navbar {
  display: flex;
  align-items: center;
  padding: 20px 12px;
  padding: 1.25rem 0.75rem; }
  .header .navbar .navbar-branch {
    padding: 5px 0px;
    padding: 0.3125rem 0rem;
    width: 11%;
    font-size: 24px;
    font-weight: 800;
    color: #071e55; }
    .header .navbar .navbar-branch .logo {
      color: #0d6efd; }
  .header .navbar .navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89%; }
    .header .navbar .navbar-main .navbar-nav {
      display: flex;
      margin-right: auto; }
      .header .navbar .navbar-main .navbar-nav .nav-item .nav-link {
        padding: 10px 15px;
        padding: 0.625rem 0.9375rem;
        font-size: 17px;
        color: #595959; }
        .header .navbar .navbar-main .navbar-nav .nav-item .nav-link.nav-link-active {
          color: #0d6efd; }
        .header .navbar .navbar-main .navbar-nav .nav-item .nav-link:hover {
          color: #0d6efd; }
    .header .navbar .navbar-main .navbar-action .btn-login {
      color: #595959; }
      .header .navbar .navbar-main .navbar-action .btn-login:hover {
        color: #0d6efd; }

.pd-0 {
  padding: 0px;
  padding: 0rem; }

.px-0 {
  padding: 0px 0px;
  padding: 0rem 0rem; }

.py-0 {
  padding: 0px 0px;
  padding: 0rem 0rem; }

.pl-0 {
  padding-left: 0px;
  padding-left: 0rem; }

.pr-0 {
  padding-right: 0px;
  padding-right: 0rem; }

.pt-0 {
  padding-top: 0px;
  padding-top: 0rem; }

.pb-0 {
  padding-bottom: 0px;
  padding-bottom: 0rem; }

.mg-0 {
  margin: 0px;
  margin: 0rem; }

.mx-0 {
  margin: 0px 0px;
  margin: 0rem 0rem; }

.my-0 {
  margin: 0px 0px;
  margin: 0rem 0rem; }

.mt-0 {
  margin-top: 0px;
  margin-top: 0rem; }

.ml-0 {
  margin-left: 0px;
  margin-left: 0rem; }

.mb-0 {
  margin-bottom: 0px;
  margin-bottom: 0rem; }

.mr-0 {
  margin-right: 0px;
  margin-right: 0rem; }

.mr-0-i {
  margin-right: 0px;
  margin-right: 0rem; }

.pd-1 {
  padding: 5px;
  padding: 0.3125rem; }

.px-1 {
  padding: 0px 5px;
  padding: 0rem 0.3125rem; }

.py-1 {
  padding: 5px 0px;
  padding: 0.3125rem 0rem; }

.pl-1 {
  padding-left: 5px;
  padding-left: 0.3125rem; }

.pr-1 {
  padding-right: 5px;
  padding-right: 0.3125rem; }

.pt-1 {
  padding-top: 5px;
  padding-top: 0.3125rem; }

.pb-1 {
  padding-bottom: 5px;
  padding-bottom: 0.3125rem; }

.mg-1 {
  margin: 5px;
  margin: 0.3125rem; }

.mx-1 {
  margin: 0px 5px;
  margin: 0rem 0.3125rem; }

.my-1 {
  margin: 5px 0px;
  margin: 0.3125rem 0rem; }

.mt-1 {
  margin-top: 5px;
  margin-top: 0.3125rem; }

.ml-1 {
  margin-left: 5px;
  margin-left: 0.3125rem; }

.mb-1 {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem; }

.mr-1 {
  margin-right: 5px;
  margin-right: 0.3125rem; }

.mr-1-i {
  margin-right: 5px;
  margin-right: 0.3125rem; }

.pd-2 {
  padding: 10px;
  padding: 0.625rem; }

.px-2 {
  padding: 0px 10px;
  padding: 0rem 0.625rem; }

.py-2 {
  padding: 10px 0px;
  padding: 0.625rem 0rem; }

.pl-2 {
  padding-left: 10px;
  padding-left: 0.625rem; }

.pr-2 {
  padding-right: 10px;
  padding-right: 0.625rem; }

.pt-2 {
  padding-top: 10px;
  padding-top: 0.625rem; }

.pb-2 {
  padding-bottom: 10px;
  padding-bottom: 0.625rem; }

.mg-2 {
  margin: 10px;
  margin: 0.625rem; }

.mx-2 {
  margin: 0px 10px;
  margin: 0rem 0.625rem; }

.my-2 {
  margin: 10px 0px;
  margin: 0.625rem 0rem; }

.mt-2 {
  margin-top: 10px;
  margin-top: 0.625rem; }

.ml-2 {
  margin-left: 10px;
  margin-left: 0.625rem; }

.mb-2 {
  margin-bottom: 10px;
  margin-bottom: 0.625rem; }

.mr-2 {
  margin-right: 10px;
  margin-right: 0.625rem; }

.mr-2-i {
  margin-right: 10px;
  margin-right: 0.625rem; }

.pd-3 {
  padding: 15px;
  padding: 0.9375rem; }

.px-3 {
  padding: 0px 15px;
  padding: 0rem 0.9375rem; }

.py-3 {
  padding: 15px 0px;
  padding: 0.9375rem 0rem; }

.pl-3 {
  padding-left: 15px;
  padding-left: 0.9375rem; }

.pr-3 {
  padding-right: 15px;
  padding-right: 0.9375rem; }

.pt-3 {
  padding-top: 15px;
  padding-top: 0.9375rem; }

.pb-3 {
  padding-bottom: 15px;
  padding-bottom: 0.9375rem; }

.mg-3 {
  margin: 15px;
  margin: 0.9375rem; }

.mx-3 {
  margin: 0px 15px;
  margin: 0rem 0.9375rem; }

.my-3 {
  margin: 15px 0px;
  margin: 0.9375rem 0rem; }

.mt-3 {
  margin-top: 15px;
  margin-top: 0.9375rem; }

.ml-3 {
  margin-left: 15px;
  margin-left: 0.9375rem; }

.mb-3 {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem; }

.mr-3 {
  margin-right: 15px;
  margin-right: 0.9375rem; }

.mr-3-i {
  margin-right: 15px;
  margin-right: 0.9375rem; }

.pd-4 {
  padding: 20px;
  padding: 1.25rem; }

.px-4 {
  padding: 0px 20px;
  padding: 0rem 1.25rem; }

.py-4 {
  padding: 20px 0px;
  padding: 1.25rem 0rem; }

.pl-4 {
  padding-left: 20px;
  padding-left: 1.25rem; }

.pr-4 {
  padding-right: 20px;
  padding-right: 1.25rem; }

.pt-4 {
  padding-top: 20px;
  padding-top: 1.25rem; }

.pb-4 {
  padding-bottom: 20px;
  padding-bottom: 1.25rem; }

.mg-4 {
  margin: 20px;
  margin: 1.25rem; }

.mx-4 {
  margin: 0px 20px;
  margin: 0rem 1.25rem; }

.my-4 {
  margin: 20px 0px;
  margin: 1.25rem 0rem; }

.mt-4 {
  margin-top: 20px;
  margin-top: 1.25rem; }

.ml-4 {
  margin-left: 20px;
  margin-left: 1.25rem; }

.mb-4 {
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

.mr-4 {
  margin-right: 20px;
  margin-right: 1.25rem; }

.mr-4-i {
  margin-right: 20px;
  margin-right: 1.25rem; }

.pd-5 {
  padding: 25px;
  padding: 1.5625rem; }

.px-5 {
  padding: 0px 25px;
  padding: 0rem 1.5625rem; }

.py-5 {
  padding: 25px 0px;
  padding: 1.5625rem 0rem; }

.pl-5 {
  padding-left: 25px;
  padding-left: 1.5625rem; }

.pr-5 {
  padding-right: 25px;
  padding-right: 1.5625rem; }

.pt-5 {
  padding-top: 25px;
  padding-top: 1.5625rem; }

.pb-5 {
  padding-bottom: 25px;
  padding-bottom: 1.5625rem; }

.mg-5 {
  margin: 25px;
  margin: 1.5625rem; }

.mx-5 {
  margin: 0px 25px;
  margin: 0rem 1.5625rem; }

.my-5 {
  margin: 25px 0px;
  margin: 1.5625rem 0rem; }

.mt-5 {
  margin-top: 25px;
  margin-top: 1.5625rem; }

.ml-5 {
  margin-left: 25px;
  margin-left: 1.5625rem; }

.mb-5 {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem; }

.mr-5 {
  margin-right: 25px;
  margin-right: 1.5625rem; }

.mr-5-i {
  margin-right: 25px;
  margin-right: 1.5625rem; }

.pd-6 {
  padding: 30px;
  padding: 1.875rem; }

.px-6 {
  padding: 0px 30px;
  padding: 0rem 1.875rem; }

.py-6 {
  padding: 30px 0px;
  padding: 1.875rem 0rem; }

.pl-6 {
  padding-left: 30px;
  padding-left: 1.875rem; }

.pr-6 {
  padding-right: 30px;
  padding-right: 1.875rem; }

.pt-6 {
  padding-top: 30px;
  padding-top: 1.875rem; }

.pb-6 {
  padding-bottom: 30px;
  padding-bottom: 1.875rem; }

.mg-6 {
  margin: 30px;
  margin: 1.875rem; }

.mx-6 {
  margin: 0px 30px;
  margin: 0rem 1.875rem; }

.my-6 {
  margin: 30px 0px;
  margin: 1.875rem 0rem; }

.mt-6 {
  margin-top: 30px;
  margin-top: 1.875rem; }

.ml-6 {
  margin-left: 30px;
  margin-left: 1.875rem; }

.mb-6 {
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }

.mr-6 {
  margin-right: 30px;
  margin-right: 1.875rem; }

.mr-6-i {
  margin-right: 30px;
  margin-right: 1.875rem; }

.pd-7 {
  padding: 35px;
  padding: 2.1875rem; }

.px-7 {
  padding: 0px 35px;
  padding: 0rem 2.1875rem; }

.py-7 {
  padding: 35px 0px;
  padding: 2.1875rem 0rem; }

.pl-7 {
  padding-left: 35px;
  padding-left: 2.1875rem; }

.pr-7 {
  padding-right: 35px;
  padding-right: 2.1875rem; }

.pt-7 {
  padding-top: 35px;
  padding-top: 2.1875rem; }

.pb-7 {
  padding-bottom: 35px;
  padding-bottom: 2.1875rem; }

.mg-7 {
  margin: 35px;
  margin: 2.1875rem; }

.mx-7 {
  margin: 0px 35px;
  margin: 0rem 2.1875rem; }

.my-7 {
  margin: 35px 0px;
  margin: 2.1875rem 0rem; }

.mt-7 {
  margin-top: 35px;
  margin-top: 2.1875rem; }

.ml-7 {
  margin-left: 35px;
  margin-left: 2.1875rem; }

.mb-7 {
  margin-bottom: 35px;
  margin-bottom: 2.1875rem; }

.mr-7 {
  margin-right: 35px;
  margin-right: 2.1875rem; }

.mr-7-i {
  margin-right: 35px;
  margin-right: 2.1875rem; }

.pd-8 {
  padding: 40px;
  padding: 2.5rem; }

.px-8 {
  padding: 0px 40px;
  padding: 0rem 2.5rem; }

.py-8 {
  padding: 40px 0px;
  padding: 2.5rem 0rem; }

.pl-8 {
  padding-left: 40px;
  padding-left: 2.5rem; }

.pr-8 {
  padding-right: 40px;
  padding-right: 2.5rem; }

.pt-8 {
  padding-top: 40px;
  padding-top: 2.5rem; }

.pb-8 {
  padding-bottom: 40px;
  padding-bottom: 2.5rem; }

.mg-8 {
  margin: 40px;
  margin: 2.5rem; }

.mx-8 {
  margin: 0px 40px;
  margin: 0rem 2.5rem; }

.my-8 {
  margin: 40px 0px;
  margin: 2.5rem 0rem; }

.mt-8 {
  margin-top: 40px;
  margin-top: 2.5rem; }

.ml-8 {
  margin-left: 40px;
  margin-left: 2.5rem; }

.mb-8 {
  margin-bottom: 40px;
  margin-bottom: 2.5rem; }

.mr-8 {
  margin-right: 40px;
  margin-right: 2.5rem; }

.mr-8-i {
  margin-right: 40px;
  margin-right: 2.5rem; }

.pd-9 {
  padding: 45px;
  padding: 2.8125rem; }

.px-9 {
  padding: 0px 45px;
  padding: 0rem 2.8125rem; }

.py-9 {
  padding: 45px 0px;
  padding: 2.8125rem 0rem; }

.pl-9 {
  padding-left: 45px;
  padding-left: 2.8125rem; }

.pr-9 {
  padding-right: 45px;
  padding-right: 2.8125rem; }

.pt-9 {
  padding-top: 45px;
  padding-top: 2.8125rem; }

.pb-9 {
  padding-bottom: 45px;
  padding-bottom: 2.8125rem; }

.mg-9 {
  margin: 45px;
  margin: 2.8125rem; }

.mx-9 {
  margin: 0px 45px;
  margin: 0rem 2.8125rem; }

.my-9 {
  margin: 45px 0px;
  margin: 2.8125rem 0rem; }

.mt-9 {
  margin-top: 45px;
  margin-top: 2.8125rem; }

.ml-9 {
  margin-left: 45px;
  margin-left: 2.8125rem; }

.mb-9 {
  margin-bottom: 45px;
  margin-bottom: 2.8125rem; }

.mr-9 {
  margin-right: 45px;
  margin-right: 2.8125rem; }

.mr-9-i {
  margin-right: 45px;
  margin-right: 2.8125rem; }

.pd-10 {
  padding: 50px;
  padding: 3.125rem; }

.px-10 {
  padding: 0px 50px;
  padding: 0rem 3.125rem; }

.py-10 {
  padding: 50px 0px;
  padding: 3.125rem 0rem; }

.pl-10 {
  padding-left: 50px;
  padding-left: 3.125rem; }

.pr-10 {
  padding-right: 50px;
  padding-right: 3.125rem; }

.pt-10 {
  padding-top: 50px;
  padding-top: 3.125rem; }

.pb-10 {
  padding-bottom: 50px;
  padding-bottom: 3.125rem; }

.mg-10 {
  margin: 50px;
  margin: 3.125rem; }

.mx-10 {
  margin: 0px 50px;
  margin: 0rem 3.125rem; }

.my-10 {
  margin: 50px 0px;
  margin: 3.125rem 0rem; }

.mt-10 {
  margin-top: 50px;
  margin-top: 3.125rem; }

.ml-10 {
  margin-left: 50px;
  margin-left: 3.125rem; }

.mb-10 {
  margin-bottom: 50px;
  margin-bottom: 3.125rem; }

.mr-10 {
  margin-right: 50px;
  margin-right: 3.125rem; }

.mr-10-i {
  margin-right: 50px;
  margin-right: 3.125rem; }

.txt-prewarp {
  white-space: pre-wrap; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.txt-center {
  text-align: center; }

.no-wrap {
  white-space: nowrap; }

.txt-bold {
  font-weight: 700; }

.txt-demi {
  font-weight: 600; }

.txt-uppercase {
  text-transform: uppercase; }

.txt-capitalize {
  text-transform: capitalize; }

.txt-date-time {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54); }

.txt-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.txt-primary {
  color: #0d6efd; }

.txt-green {
  color: #27b36a; }

.txt-danger {
  color: #e52f37; }

.txt-red {
  color: #fc6a3f; }

.txt-warning {
  color: #fe9c24; }

.align-items-center {
  align-items: center; }

.w-100 {
  width: 100%; }

.w-75 {
  width: 75%; }

.w-50 {
  width: 50%; }

.w-25 {
  width: 25%; }

/*# sourceMappingURL=styles.css.map */
