.txt-prewarp {
  white-space: pre-wrap;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center
}
.no-wrap {
  white-space: nowrap;
}
.txt-bold {
  font-weight: 700;
}
.txt-demi {
  font-weight: 600;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-capitalize {
  text-transform: capitalize;
}
.txt-date-time {
  font-size: map-get($map: $font-size, $key: xs);
  color: map-get($color, grey-b)
}
.txt-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.txt-primary {
  color: map-get($color, primary);
}
