.footer {
  @include pxRem(padding, 40 0 20 0);
  background-color: rgb(245, 247, 252);
  .copy-right {
    margin-bottom: 5px;
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
    color: #454545;
    .branch-name {
      font-weight: bold;
    }
    .footer-link {
      text-decoration: underline;
      color: map-get($color, primary);
    }
  }
  .social-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .follow {
      font-size: 17px;
      color: #7c8595;
    }
    .social-icon {
      @include pxRem(margin, 0 8);
      font-size: 26px;
      &.bi-twitter {
        color: map-get($color, twitter);
      }
      &.bi-instagram {
        color: map-get($color, fb);
      }
      &.bi-whatsapp {
        color: map-get($color, whatsapp);
      }
      &.bi-google {
        color: map-get($color, google);
      }
      &.bi-github {
        color: map-get($color, dribble);
      }
      &:hover {
        opacity: 0.59;
      }
    }
  }
}
