.page-container {
  @include pxRem(padding, 100 0 300);
  min-height: calc(100% - (65px + 190px));
}
.container {
  max-width: 1172px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}
.grid-box {
  border: 1px solid map-get($color, grey-e);
  background: #fff;
  border-radius: 6px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 -12px;
}
.row-ck {
  @include pxRem(padding-bottom, 40);
}
.col {
  padding-left: 12px;
  padding-right: 12px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(100% *#{$i}/ 12);
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 327px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 auto;
    &.header-content {
      left: 0;
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
  }
  .col {
    padding-left: 4px;
    padding-right: 4px;
  }
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: calc(100% *#{$i}/ 12);
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 630px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    &.header-content {
      left: 0;
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
  }
  .col {
    padding: 0 12px;
  }
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: calc(100% *#{$i}/ 12);
    }
  }
}
