.header {
  .navbar {
    display: flex;
    align-items: center;
    @include pxRem(padding, 20 0);
    .navbar-branch {
      @include pxRem(padding, 5 0);
      width: 11%;
      font-size: map-get($font-size, xxxl);
      font-weight: 800;
      color: #071e55;
      .logo {
        color: map-get($color, primary);
      }
    }
    .navbar-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 89%;
      .navbar-nav {
        display: flex;
        margin-right: auto;
        .nav-item {
          .nav-link {
            @include pxRem(padding, 10 15);
            font-size: 17px;
            color: #595959;
            &.nav-link-active {
              color: map-get($color, primary);
            }
            &:hover {
              color: map-get($color, primary);
            }
          }
        }
      }
      .navbar-action {
        .btn-login {
          color: #595959;
          &:hover {
            color: map-get($color, primary);
          }
        }
      }
    }
  }
}
