.btn {
  @include pxRem(padding, 10 15);
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  &:disabled {
    cursor: not-allowed;
  }
  &.btn-primary {
    background-color: map-get($map: $color, $key: primary);
    color: map-get($map: $color, $key: white);
    &:disabled {
      background-color: map-get($map: $color, $key: green-b);
      color: map-get($map: $color, $key: white);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &.btn-secondary {
    background-color: map-get($map: $color, $key: secondary);
    color: map-get($map: $color, $key: white);
    &:disabled {
      background-color: map-get($map: $color, $key: grey-g);
      color: map-get($map: $color, $key: white);
    }
  }
  &.btn-blue {
    background-color: map-get($map: $color, $key: blue);
    border-color: map-get($map: $color, $key: blue);
    color: map-get($map: $color, $key: white);
    &:disabled {
      background-color: map-get($map: $color, $key: blue-b);
      color: map-get($map: $color, $key: white);
    }
  }
  &.btn-danger {
    background-color: map-get($map: $color, $key: danger);
    border-color: map-get($map: $color, $key: danger);
    color: map-get($map: $color, $key: white);
    &:disabled {
      background-color: map-get($map: $color, $key: danger-a);
      color: map-get($map: $color, $key: white);
    }
  }
  &.btn-outline-primary {
    background-color: transparent;
    border: 1px solid map-get($map: $color, $key: primary);
    color: map-get($map: $color, $key: primary);
    &:hover {
      background-color: map-get($map: $color, $key: primary);
      color: map-get($map: $color, $key: white);
    }
  }
  &.btn-outline-secondary {
    background-color: transparent;
    border: 1px solid map-get($map: $color, $key: secondary);
    color: map-get($map: $color, $key: secondary);
    &:hover {
      background-color: map-get($map: $color, $key: secondary);
      color: map-get($map: $color, $key: white);
    }
  }
  &.btn-outline-danger {
    background-color: transparent;
    border: 1px solid map-get($map: $color, $key: danger);
    color: map-get($map: $color, $key: danger);
    &:hover {
      background-color: map-get($map: $color, $key: danger);
      color: map-get($map: $color, $key: white);
    }
  }
  &.btn-outline-blue {
    background-color: transparent;
    border: 1px solid map-get($map: $color, $key: blue);
    color: map-get($map: $color, $key: blue);
    &:hover {
      background-color: map-get($map: $color, $key: blue);
      color: map-get($map: $color, $key: white);
    }
  }
  &.btn-icon {
    @include pxRem(width, 36);
    @include pxRem(height, 36);
    @include pxRem(padding, 10);
    border-radius: 100%;
  }
  &.btn-block {
    width: 100%;
    font-size: map-get($map: $font-size, $key: normal);
  }
  &.btn-close {
    background-color: transparent;
    border: 0;
  }
}
