.section-feature {
  @include pxRem(padding, 90 0 70 0);
  background-color: map-get($color, grey-e);
  .section-feature-title{
    @include pxRem(margin-bottom, 20);
    font-size: 36px;
    color: map-get($color, grey-a);
  }
  .features-list {
    .feature-item {
      display: flex;
      .feature-icon {
        @include pxRem(width, 55);
        @include pxRem(height, 55);
        font-size: 40px;
        line-height: 1.2;
        &.bi-gem {
          color: map-get($color, green-c);
        }
        &.bi-people {
          color: map-get($color, blue-d);
        }
        &.bi-bell {
          color: map-get($color, warning);
        }
        &.bi-gear {
          color: map-get($color, blue-e);
        }
        &.bi-cash-stack {
          color: map-get($color, red-b);
        }
        &.bi-chat-left-text {
          color: map-get($color, green-d);
        }
      }
      .feature-title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        color: map-get($color, grey-a);
      }
      .feature-description {
        font-size: 17px;
        line-height: 1.5;
        font-weight: 400;
        color: map-get($color, secondary);
      }
    }
  }
}
