.section-contact {
  @include pxRem(padding, 90 0);
  .section-contact-title {
    @include pxRem(margin-bottom, 20);
    font-size: 28px;
    color: map-get($color, grey-a);
  }
  .contact-maps {
    @include pxRem(padding, 10);
    @include pxRem(margin-bottom, 20);
    max-width: 100%;
    border-radius: 8px;
    background-color: map-get($color, white-a);
    border: 1px solid map-get($color, white-b);
  }
  .head-office {
    @include pxRem(margin-bottom, 20);
    font-size: 20px;
    color: map-get($color, grey-a);
  }
  .contact-info {
    @include pxRem(margin-bottom, 8);
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    color: map-get($color, secondary);
    .contact-icon {
      font-size: 18px;
      padding-right: 5px;
      vertical-align: middle;
      color: map-get($color, blue-c);
    }
    a {
      color: map-get($color, secondary);
    }
  }
}