// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px,
  super-largest: 1441px,
);

$color: (
  primary: #0d6efd,
  secondary: #7c8595,
  blue: #007bff,
  orange-a: #a17143,
  grey-a: #071e55,
  grey-b: rgba(0, 0, 0, 0.54),
  grey-c: #595959,
  grey-d: #454545,
  grey-e: rgb(245, 247, 252),
  grey-f: #878787,
  grey-g: #cecece,
  grey-h: #858585,
  grey-i: #656565,
  grey-k: #164145,
  grey-l: #6a6a6a,
  grey-m: #acacac,
  black: #292929,
  black-a: #161616,
  white: #ffffff,
  white-a: #f6f7f8,
  white-b: #eaeaea,
  white-c: #e0e0e0,
  yellow: #fdcc28,
  warning: #fe9c24,
  violet: #b97ebb,
  blue-a: #007bff,
  blue-b: #496e96,
  blue-c: #1e90ff,
  blue-d: #50a0d2,
  blue-e: #3473b8,
  blue-f: #0a58ca,
  blue-g: #0b5ed7,
  info: #17a2b8,
  fb: #3b5998,
  twitter: #4099ff,
  instagram: #C92228,
  dribble: #ea4c89,
  whatsapp: #4fce5d,
  google: #4285f4,
  success: #d4edda,
  danger: #e52f37,
  danger-a: #f0949c,
  red: #e52f37,
  red-a: #721c24,
  red-b: #fc6a3f,
  red-c: #df2931,
  green: #27b36a,
  green-a: #155724,
  green-b: #c3e6cb,
  green-c: #a9d129,
  green-d: #87ac34,
  pink: #e99695,
  tag: #c69f6d,
);

$font-size: (
  xxs: 10px,
  xs: 11px,
  sm: 14px,
  normal: 16px,
  lg: 18px,
  xl: 20px,
  xxl: 24px,
  xxxl: 28px,
  xxxxl: 36px,
);
$col-max: 12;
$font-body: Roboto, sans-serif;
$font-japan: serif;
